p 
{
font size:"50pt;
font style:italic;
background-color:#FFFF33;
font color:333300;
text-align:left;
}
p1 
{
font size:"45p;
font style:italic;
background-color:#CCCC70;
font color:333300;
text-align:center;
}

